 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Playfair+Display:ital@1&family=Poppins:wght@500&display=swap');

body {
  margin: 0;
font-family: 'Fira Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.description::-webkit-scrollbar{
width: 20px;

}